In [4]:
customer_name = 'Anita'

In [5]:
customer_name

'Anita'

In [7]:
cust_mer = 'Anita'

In [8]:
cust_mer

'Anita'

In [9]:
cust_123mer = 'Anita'

In [10]:
cust_123mer

'Anita'

In [11]:
Money = 100

In [12]:
money = 200

In [13]:
Money

100

In [14]:
money

200

In [15]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [16]:
len (keyword.kwlist)

35

In [21]:
customer_name = None

In [22]:
type(customer_name)

NoneType

In [23]:
a = 10
print(id(a))
b = 10
print(id(b))
c = 271
print(id(c))
d = 271
print(id(d))

140709277704880
140709277704880
2218572749584
2218572749072

In [24]:
a = 0B1010

In [25]:
a

10

In [26]:
a = True
b = False

In [27]:
a+b

1

In [29]:
"The 'Scholar' is an amazing platform"

"The 'Scholar' is an amazing platform"

In [30]:
a = '''The 'Scholar' is an "Amazing" platform'''

In [31]:
a

'The \'Scholar\' is an "Amazing" platform'

In [32]:
print(a)

The 'Scholar' is an "Amazing" platform

In [33]:
a = 'The Scholar'

In [34]:
a

'The Scholar'

In [35]:
a[4:11]

'Scholar'

In [36]:
a[4:]

'Scholar'

In [ ]:
a = 'The Scholar'

In [37]:
a[-1:-7]

''

In [38]:
a[-1:-7:-1]

'ralohc'

In [39]:
a[-1:-7:-2]

'rlh'

In [40]:
a[-7:-1]

'Schola'

In [41]:
a[-3:]

'lar'

In [43]:
ages = [23,'c',43.5,False]

In [44]:
ages

[23, 'c', 43.5, False]

In [47]:
type(ages[0])

int

In [48]:
type(ages[1])

str

In [49]:
type(ages[2])

float

In [50]:
type(ages[3])

bool

In [51]:
len(ages)

4

In [52]:
ages = ['A',23,'B',54, True,33,23.5,22,43,34,32,45,33]

In [53]:
ages

['A', 23, 'B', 54, True, 33, 23.5, 22, 43, 34, 32, 45, 33]

In [55]:
ages[6:0:-1]

[23.5, 33, True, 54, 'B', 23]

In [56]:
ages[-4:]

[34, 32, 45, 33]

In [57]:
ages[4:8]

[True, 33, 23.5, 22]

In [58]:
ages[4:8:-1]

[]

In [59]:
ages[-6:-1:-1]

[]

In [60]:
ages[-6:-1:1]

[22, 43, 34, 32, 45]

In [61]:
ages

['A', 23, 'B', 54, True, 33, 23.5, 22, 43, 34, 32, 45, 33]

In [64]:
ages[2] = 22

In [65]:
ages

['A', 23, 22, 54, True, 33, 23.5, 22, 43, 34, 32, 45, 33]

In [66]:
ages.append(200)

In [67]:
ages

['A', 23, 22, 54, True, 33, 23.5, 22, 43, 34, 32, 45, 33, 200]

In [68]:
ages = ['A', 23, 22, 54, True, 33, 23.5]

In [69]:
ages.append([100,200,300])

In [70]:
ages

['A', 23, 22, 54, True, 33, 23.5, [100, 200, 300]]

In [71]:
del ages[-1]

In [72]:
ages

['A', 23, 22, 54, True, 33, 23.5]

In [73]:
del ages[6]

In [74]:
ages

['A', 23, 22, 54, True, 33]

In [75]:
ages.clear()

In [80]:
ages = ['A', 23, 22, 54, True, 33]

In [85]:
ages1 = ages.copy()

In [86]:
ages

['A', 23, 22, 54, True, 33]

In [87]:
ages1

['A', 23, 22, 54, True, 33]

In [ ]:
ages = ['A', 23, 22, 54, True, 33,23]

In [90]:
ages

['A', 23, 22, 54, True, 33]

In [91]:
ages.append(23)

In [92]:
ages

['A', 23, 22, 54, True, 33, 23]

In [93]:
ages.count(23)

2

In [ ]:
ages = ['A', 23, 22, 54, True, 33, 23]

In [94]:
ages

['A', 23, 22, 54, True, 33, 23]

In [96]:
ages.extend([19,20,21])

In [97]:
ages

['A', 23, 22, 54, True, 33, 23, 19, 20, 21]

In [98]:
ages.index(23)

1

In [99]:
ages.insert(4,15)

In [100]:
ages

['A', 23, 22, 54, 15, True, 33, 23, 19, 20, 21]

In [101]:
ages.pop()

21

In [102]:
ages

['A', 23, 22, 54, 15, True, 33, 23, 19, 20]

In [103]:
ages.pop()

20

In [104]:
ages

['A', 23, 22, 54, 15, True, 33, 23, 19]

In [105]:
ages.pop(5)

True

In [106]:
ages

['A', 23, 22, 54, 15, 33, 23, 19]

In [107]:
ages.remove(23)

In [108]:
ages

['A', 22, 54, 15, 33, 23, 19]

In [109]:
ages.remove(23)

In [110]:
ages

['A', 22, 54, 15, 33, 19]

In [111]:
ages.reverse()

In [112]:
ages

[19, 33, 15, 54, 22, 'A']

In [114]:
ages.pop()

'A'

In [115]:
ages

[15, 19, 22, 33, 54]

In [116]:
ages.sort()

In [117]:
ages

[15, 19, 22, 33, 54]

In [118]:
ages.sort(reverse=True)

In [119]:
ages

[54, 33, 22, 19, 15]

In [121]:
ages = [1,2,3,4,5,5,5,5,6]

In [122]:
ages

[1, 2, 3, 4, 5, 5, 5, 5, 6]

In [123]:
del ages[4:8]

In [124]:
ages

[1, 2, 3, 4, 6]