In [1]:
list1 = [1,2,3,4,5]

In [2]:
type(list1)

list

In [3]:
id(list1)

2813236877192

In [4]:
list1[2]

3

In [5]:
list1[4] = 0

In [6]:
list1

[1, 2, 3, 4, 0]

In [ ]:
#TUPLES

In [7]:
tuple1 = (1,2,3,4,5)

In [8]:
type(tuple1)

tuple

In [9]:
tuple1[2]

3

In [10]:
tuple1[2] = 1

TypeError: 'tuple' object does not support item assignment

In [11]:
list[tuple1]

TypeError: 'type' object is not subscriptable

In [12]:
a = list[tuole1]

NameError: name 'tuole1' is not defined

In [14]:
a = list(tuple1)

In [15]:
a

[1, 2, 3, 4, 5]

In [17]:
a[1] = 0

In [18]:
a

[1, 0, 3, 4, 5]

In [19]:
tuple(a)

(1, 0, 3, 4, 5)

In [ ]:
#RANGE

In [20]:
range(0,10)

range(0, 10)

In [21]:
type(range(0,10))

range

In [22]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [24]:
list(range(10,0,2))

[]

In [25]:
list(range(10,0,-2))

[10, 8, 6, 4, 2]

In [26]:
list(range(10,0))

[]

In [ ]:
#DICTIONARIES: Key-Value Pair

In [27]:
dict1 = {'A':12 , 'B':15 , 'C':18}

In [28]:
dict1

{'A': 12, 'B': 15, 'C': 18}

In [29]:
dict1['A']

12

In [32]:
dict1 = {'student name' : ['A','B','C','D','E'],
        'student age' : [10,11,12,13,14]}

In [33]:
dict1

{'student name': ['A', 'B', 'C', 'D', 'E'],
 'student age': [10, 11, 12, 13, 14]}

In [34]:
dict1['student name']

['A', 'B', 'C', 'D', 'E']

In [35]:
dict1['student age']

[10, 11, 12, 13, 14]

In [36]:
dict1['student name'][1] = 'X'

In [37]:
dict1

{'student name': ['A', 'X', 'C', 'D', 'E'],
 'student age': [10, 11, 12, 13, 14]}

In [39]:
dict1['subject'] = ['py','sas','pbi','tab','sql']

In [40]:
dict1

{'student name': ['A', 'X', 'C', 'D', 'E'],
 'student age': [10, 11, 12, 13, 14],
 'subject': ['py', 'sas', 'pbi', 'tab', 'sql']}

In [41]:
import pandas as pd

In [43]:
pd.DataFrame(dict1)

  student name  student age subject
0            A           10      py
1            X           11     sas
2            C           12     pbi
3            D           13     tab
4            E           14     sql

In [49]:
dict1= {'student name' : ['A','B','C','D','E'],
        'student age' : [10,11,12,13,13],
        'region' : ['N','S','W','E','E'],
        'subject' : ['Py', 'SAS','JAVA','BI','TAB']}

In [50]:
dict1

{'student name': ['A', 'B', 'C', 'D', 'E'],
 'student age': [10, 11, 12, 13, 13],
 'region': ['N', 'S', 'W', 'E', 'E'],
 'subject': ['Py', 'SAS', 'JAVA', 'BI', 'TAB']}

In [51]:
import pandas as pd

In [52]:
pd.DataFrame(dict1)

  student name  student age region subject
0            A           10      N      Py
1            B           11      S     SAS
2            C           12      W    JAVA
3            D           13      E      BI
4            E           13      E     TAB

In [53]:
dict1.clear()

In [54]:
dict1

{}

In [55]:
dict1= {'student name' : ['A','B','C','D','E'],
        'student age' : [10,11,12,13,13],
        'region' : ['N','S','W','E','E'],
        'subject' : ['Py', 'SAS','JAVA','BI','TAB']}

In [73]:
dict1

{'student name': ['A', 'B', 'C', 'D', 'E'],
 'student age': [10, 11, 12, 13, 13],
 'region': ['N', 'S', 'W', 'E', 'E'],
 'subject': ['Py', 'SAS', 'JAVA', 'BI', 'TAB']}

In [74]:
dict2 = dict1.copy()

In [75]:
dict2

{'student name': ['A', 'B', 'C', 'D', 'E'],
 'student age': [10, 11, 12, 13, 13],
 'region': ['N', 'S', 'W', 'E', 'E'],
 'subject': ['Py', 'SAS', 'JAVA', 'BI', 'TAB']}

In [76]:
dict2=dict1.fromkeys({'student name','student age','Marks'},'NA')

In [77]:
dict2

{'student name': 'NA', 'Marks': 'NA', 'student age': 'NA'}

In [78]:
dict2['student age'] = [10,11,12,13,14]

In [79]:
dict2

{'student name': 'NA', 'Marks': 'NA', 'student age': [10, 11, 12, 13, 14]}

In [80]:
dict1= {'student name' : ['A','B','C','D','E'],
        'student age' : [10,11,12,13,13],
        'region' : ['N','S','W','E','E'],
        'subject' : ['Py', 'SAS','JAVA','BI','TAB']}

In [81]:
dict1

{'student name': ['A', 'B', 'C', 'D', 'E'],
 'student age': [10, 11, 12, 13, 13],
 'region': ['N', 'S', 'W', 'E', 'E'],
 'subject': ['Py', 'SAS', 'JAVA', 'BI', 'TAB']}

In [82]:
dict1.get('student name')

['A', 'B', 'C', 'D', 'E']

In [83]:
dict1.items()

dict_items([('student name', ['A', 'B', 'C', 'D', 'E']), ('student age', [10, 11, 12, 13, 13]), ('region', ['N', 'S', 'W', 'E', 'E']), ('subject', ['Py', 'SAS', 'JAVA', 'BI', 'TAB'])])

In [84]:
dict1.keys()

dict_keys(['student name', 'student age', 'region', 'subject'])

In [85]:
dict1.pop('region')

['N', 'S', 'W', 'E', 'E']

In [86]:
dict1

{'student name': ['A', 'B', 'C', 'D', 'E'],
 'student age': [10, 11, 12, 13, 13],
 'subject': ['Py', 'SAS', 'JAVA', 'BI', 'TAB']}

In [92]:
dict1['sub'] = dict1.pop('subject')

In [93]:
dict1

{'student name': ['A', 'B', 'C', 'D', 'E'],
 'student age': [10, 11, 12, 13, 13],
 'sub': ['Py', 'SAS', 'JAVA', 'BI', 'TAB']}

In [94]:
dict1= {'student name' : ['A','B','C','D','E'],
        'student age' : [10,11,12,13,13],
        'region' : ['N','S','W','E','E'],
        'subject' : ['Py', 'SAS','JAVA','BI','TAB']}

In [95]:
dict1

{'student name': ['A', 'B', 'C', 'D', 'E'],
 'student age': [10, 11, 12, 13, 13],
 'region': ['N', 'S', 'W', 'E', 'E'],
 'subject': ['Py', 'SAS', 'JAVA', 'BI', 'TAB']}

In [96]:
dict1.popitem()

('subject', ['Py', 'SAS', 'JAVA', 'BI', 'TAB'])

In [97]:
dict1

{'student name': ['A', 'B', 'C', 'D', 'E'],
 'student age': [10, 11, 12, 13, 13],
 'region': ['N', 'S', 'W', 'E', 'E']}

In [98]:
dict1.values()

dict_values([['A', 'B', 'C', 'D', 'E'], [10, 11, 12, 13, 13], ['N', 'S', 'W', 'E', 'E']])

In [99]:
dict1.setdefault('marks')

In [100]:
dict1

{'student name': ['A', 'B', 'C', 'D', 'E'],
 'student age': [10, 11, 12, 13, 13],
 'region': ['N', 'S', 'W', 'E', 'E'],
 'marks': None}

In [101]:
dict1['marks'] = [1,2,3,4,5]

In [102]:
dict1

{'student name': ['A', 'B', 'C', 'D', 'E'],
 'student age': [10, 11, 12, 13, 13],
 'region': ['N', 'S', 'W', 'E', 'E'],
 'marks': [1, 2, 3, 4, 5]}

In [117]:
mydict1 = {'A':10,'B':20}

In [118]:
mydict2 = {'C':30,'D':40}

In [119]:
mydict1.update(mydict2)

In [120]:
mydict1

{'A': 10, 'B': 20, 'C': 30, 'D': 40}

In [121]:
mydict3 = {'A':10,'B':20}

In [122]:
mydict4 = {'A':30,'D':40}

In [123]:
mydict3.update(mydict4)

In [124]:
mydict3

{'A': 30, 'B': 20, 'D': 40}

In [ ]:
#SETS

In [131]:
set1=set([1,1,2,3,4,4,5])

In [132]:
set1

{1, 2, 3, 4, 5}

In [133]:
id = [1,2,3,4,5,5,6,7,7]

In [134]:
set(id)

{1, 2, 3, 4, 5, 6, 7}

In [140]:
len(set(id))

7

In [141]:
sum(set(id))

28

In [142]:
set1=set(id).copy

In [143]:
set1

In [144]:
set1 = {1,2,3,4,5}

In [145]:
set2=set1.copy()

In [146]:
set2

{1, 2, 3, 4, 5}

In [147]:
set1.add(12)

In [148]:
set1

{1, 2, 3, 4, 5, 12}

In [149]:
set1.add([1,2,3,4,5])

TypeError: unhashable type: 'list'

In [150]:
set1.add((1,2,3,4,5))

In [151]:
set1

{(1, 2, 3, 4, 5), 1, 12, 2, 3, 4, 5}

In [152]:
set1 = {1,2,3,4}

In [153]:
set1.discard(2)

In [154]:
set1

{1, 3, 4}

In [155]:
set1

{1, 3, 4}

In [156]:
set1.remove(3)

In [157]:
set1

{1, 4}

In [158]:
set1

{1, 4}

In [159]:
set1.remove(3)

KeyError: 3

In [160]:
set1 = {1,2,3,4,5}
set2 = {3,4}

In [166]:
set1.difference(set2)

{1, 2, 5}

In [169]:
set1.difference_update(set2)

In [168]:
set1

{1, 2, 5}

In [170]:
set1 = {1,2,3,4,5}
set2 = {3,4}

In [171]:
set1.intersection(set2)

{3, 4}

In [172]:
set1.intersection_update(set2)

In [173]:
set1

{3, 4}

In [174]:
set1 = {1,2,3,4,5}
set2 = {3,4}

In [175]:
set1.isdisjoint(set2)

False

In [176]:
set2.issubset(set1)

True

In [177]:
set1.issuperset(set2)

True

In [178]:
set1.pop()

1

In [179]:
set1

{2, 3, 4, 5}

In [180]:
set1.update(set2)

In [181]:
set1

{2, 3, 4, 5}

In [182]:
set1 = {1,2,3,4,5}
set2 = {3,4}

In [183]:
set1.symmetric_difference(set2)

{1, 2, 5}

In [184]:
set1.symmetric_difference_update(set2)

In [185]:
set1

{1, 2, 5}

In [186]:
set1 = {1,2,3}
set2 = {4,5}

In [187]:
set1.union(set2)

{1, 2, 3, 4, 5}