In [1]:
name = input("Please enter your name")

Please enter your nameJhim

In [2]:
name

'Jhim'

In [3]:
type(name)

str

In [4]:
age = input('Please enter your age')

Please enter your age26

In [5]:
age

'26'

In [6]:
type(age)

str

In [7]:
age = int(input('Please enter your age'))

Please enter your age26

In [8]:
age

26

In [9]:
numbers = input('Please enter 5 numbers')

Please enter 5 numbers1 2 3 4 5

In [10]:
numbers

'1 2 3 4 5'

In [11]:
#Int fuction will not work
numbers = int(input('Please enter 5 numbers'))

Please enter 5 numbers1 2 3 4 5

ValueError: invalid literal for int() with base 10: '1 2 3 4 5'

In [12]:
numbers = input('Please enter 5 numbers').split(',')

Please enter 5 numbers1 2 3 4 5

In [13]:
numbers

['1', '2', '3', '4', '5']

In [19]:
numbers = [int(x) for x in input('Please enter 5 numbers').split(',')]

Please enter 5 numbers1,2,3,4,5

In [20]:
numbers

[1, 2, 3, 4, 5]

In [21]:
a = input('Please enter your details, Name,age,student,weight')

Please enter your details, Name,age,student,weightJhim,26,True,65.5

In [22]:
a

'Jhim,26,True,65.5'

In [23]:
a = input('Please enter your details, Name,age,student,weight').split(',')

Please enter your details, Name,age,student,weightJhim,26,Ture,65.5

In [24]:
a

['Jhim', '26', 'Ture', '65.5']

In [26]:
a = [eval(x) for x in input('Please enter your details, Name,age,student,weight').split(',')]

Please enter your details, Name,age,student,weight'Jhim',26,True,65.5

In [27]:
a

['Jhim', 26, True, 65.5]

In [28]:
type(a)

list

In [32]:
type(a[3])

float

In [33]:
a = 12.3

In [38]:
print('the value of a is %i' %a )

the value of a is 12

In [40]:
name = 'Jhim'
salary = 1000
company = 'EY'
print('Hello',name,'Your salary is',salary,'Your company is',company)

Hello Jhim Your salary is 1000 Your company is EY

In [45]:
print('Hello',name, 'Your salary is',salary, 'Your company is',company, sep=',')

Hello,Jhim,Your salary is,1000,Your company is,EY

In [49]:
print('Hello {}, Your salary is {}, Your company is {}'.format(name,salary,company))

Hello Jhim, Your salary is 1000, Your company is EY

In [50]:
print('Hello {2}, Your salary is {1}, Your company is {0}'.format(company,salary,name))

Hello Jhim, Your salary is 1000, Your company is EY

In [51]:
print('Hello {n}, Your salary is {s}, Your company is {c}'.format(c=company,s=salary,n=name))

Hello Jhim, Your salary is 1000, Your company is EY

In [55]:
a = int(input('enter your marks'))

enter your marks36

In [67]:
marks = int(input('enter your marks'))
if marks<35:
    print('Fail')
else:
    print('Pass')

enter your marks36
Pass

In [71]:
marks = int(input('enter your marks'))
if marks<35:
    print('Fail')
elif marks>35 and marks<60:
    print('Average')
else:
    print('Excellent')

enter your marks21
Fail

In [72]:
x = 'Jhim'
for i in x:
    print(i)
    print('hello')
print('hi')

J
hello
h
hello
i
hello
m
hello
hi

In [73]:
x = 'Jhim'
for i in x:
    print(i)
print('hello')
print('hi')

J
h
i
m
hello
hi

In [75]:
name = 'Python'
count = 0
for i in name:
    print('Before the count', count)
    count = count+1
    print('After the count', count)
count

Before the count 0
After the count 1
Before the count 1
After the count 2
Before the count 2
After the count 3
Before the count 3
After the count 4
Before the count 4
After the count 5
Before the count 5
After the count 6

6